@charset "utf-8";
/* CSS Document */

body{ 
	font: 80% "Trebuchet MS", sans-serif; margin: 10px;
	}

tr td {
	padding:3px;
	margin-left:2px;
}
tr.alt td {
	background:#EBEBEB;
}

a {
	text-decoration:none
}

fieldset {
	background:#FFF;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.js-example-basic-multiple {
	width: 00px !important;

}

a:hover{
	color:#999;
}


thead{
	background-color:#FFF;
	font-weight:bold;
}

.demoHeaders { 
	margin-top: 2em; 
}

.content80 {
	padding: 5px 5px;
	width: 80%;
	float: left;
	clear:right;
	min-width:200px;
}


.content60 {
	padding: 5px 5px;
	width: 80%;
	float: left;

	clear:right;
	min-width:680px;
}

.content40 {
	border:thin solid #CCC;
	padding: 5px 5px;
	width: 40%;
	float: left;
	clear:right;
	min-width:200px;
	/*min-width:600px;*/

}


.content30 {
	border:thin solid #CCC;
	padding: 5px 5px;
	width: 30%;
	float: left;
	clear:right;
	min-width:200px;
	/*min-width:600px;*/

}

.content50 {
	border:thin solid #CCC;
	padding: 5px 5px;
	width: 50%;
	float: left;
	clear:right;
	min-width:200px;
	/*min-width:600px;*/

}


.js-example-basic-multiple {
	width: 350px !important;
}

.content200p {
	padding: 5px 5px;
	width: 160px;
	float: left;
	clear:right;
}

#main-header {
	float:left;
	width:100%;
	height:80px;
	padding-bottom:10px;
	/*background:#333;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color:#FFF;*/
	color:#333333;
	margin-bottom:10px;
	background: url('../images/avior-capital-logo-v3.png') no-repeat right;
	border-bottom:#CCCCCC solid 1px;
}
#main-header h1{
	padding-left:0px;
	font-size:45px;
}

#main-header p {
    margin-top: -37px;
    margin-left: 55px;
}

.clicklink {
	padding:5px;
	background:#FFF;
	border:1px #CCC solid; 
	border-radius:5px;
	-moz-border-radius:5px;
	display:inline-block;
}




#dialog_link {
	padding: .4em 1em .4em 20px;
	text-decoration: none;
	position: relative;
	}

#dialog_link span.ui-icon {
	margin: 0 5px 0 0;
	position: absolute;
	left: .2em;
	top: 50%;
	margin-top: -8px;
	}
ul#icons {
	margin: 0; 
	padding: 0;
	}

ul#icons li {
	margin: 2px;
 	position: relative; 
 	padding: 4px 0; 
 	cursor: pointer; 
 	float: left;  
 	list-style: none;
 }

ul#icons span.ui-icon {
	float: left; 
	margin: 0 4px;
	}
	
.superscript {
	font-size: xx-small;
	vertical-align: top;
	display: inline;
}

#reminders {
	background:#FFF;
	border-bottom-left-radius:10;
	
}

#reminders ul {
	margin:0px;
	padding:1px;
}
#reminders li {
	text-decoration:none;
	list-style:none;
	display:block;
	background:#FFF;
	margin:2px;
	padding:1px;
}

.cn li {
	list-style:none;
	float:left;
	padding:5px;
	border-top-right-radius:3px;
	cursor:pointer;
	}
.platinum:hover{
	background-color:#E5E4E2;
}
.gold:hover{
	background-color:#B8860B;
}
.silver:hover{
	background-color:#C0C0C0;
}
.bronze:hover{
	background-color:#B5A642;
}
.blue:hover{
	background-color:#0A238C;
	color: #FFF;
}
.not:hover{
	background-color:#666;
	color:#FFF
}

.client-details-table{

}

.client-details-table td{
	padding:4px;
}

.edit-form input[type="text"]{
	width:250px;
}


#cnotes .table td a{
	text-decoration:underline;
}
#cnotes .table td{
	border-bottom:#999999 solid 1px;
	border-collapse:collapse;
	padding:10px 5px;	
}


.edit-form select{
	width:260px;
}

.edit-form input[type="text"], .edit-form select{
	border:#999999 solid 1px;
	padding:4px;
	margin-bottom:5px;
}


/*Client Details */
.main-profile{
	display:inline-block;
}
.other-cnt{
	display:inline-block;
	vertical-align:top;

	border-box:border-box;
	position:relative;
	width:100%;
	max-width:200px;

}

.other-cnt .image-circle{
	float:left;
	white-space:normal;
	text-align:center;
	width:100%;
	max-width:100px;
	margin-bottom:20px;

}

/*
.other-cnt .image-circle .image{
	min-width:60px;
	min-height:60px;
	margin: 0 auto;
	text-align:center;

}

.other-cnt .image-circle img{
	-webkit-border-radius: 500px;
       -moz-border-radius: 500px;
            border-radius: 500px;
	width:60px;
	height:60px;
}
*/

.other-cnt .image-circle .image{
	width:60px;
	height:60px;
	overflow:hidden;
	margin: 0 auto;
	-webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}

.other-cnt .image-circle .no-image{
	width:60px;
	height:60px;
	overflow:hidden;
	margin: 0 auto;
}

.other-cnt .image-circle img{
	
	max-width:90px;
/*	margin: 0 auto;*/
	margin-top:-4px;
	margin-left:-15px;

}

.other-cnt .image-circle .desc{
	display:block;
	text-align:center;
	font-size:12px;
}

.edit-link{
	border:#666666 solid 1px;
	padding:5px;
	min-width:60px;
	max-width:160px;
	text-align:center;
	position:absolute;
	right:50px;
}

.static-edit-link{
	border:#666666 solid 1px;
	padding:5px;
	min-width:60px;
	width:60px;
	text-align:center;
	right:50px;
	float:right;
}

.edit-link a{
	width:100%;
	display:block;
	white-space:nowrap;

}

.ui-autocomplete .inactive a{
	color:grey !important;
}

#avclientbody td select.gold_option,
#avclientbody td.gold_option{
	background-color:#B8860B;
	color : #fff;
}

#avclientbody td select.platinum_option,
#avclientbody td.platinum_option{
	background-color:#333333;
	color : #fff;
}
#avclientbody td select.silver_option,
#avclientbody td.silver_option{
	background-color:#999999;
	color : #fff;
}

#avclientbody td select.blue_option,
#avclientbody td.blue_option{
	background-color:#0066FF;
	color : #fff;
}

#avclientbody td select.bronze_option,
#avclientbody td.bronze_option{
	background-color:#f4a460;
	color : #fff;
}

.required-field{
	font-size:10px;
	color:#FF0000;
}

#error-messages, .error{
	color:#FF0000;
	font-style:italic;
}

.error{
	font-size:12px;
	display:block;
}

.edit-table .label{
	white-space:nowrap;
}

.device-icon{
	display:none; 
	float:right; 
	width:40px; 
	height:40px; 
	margin:5px;
	margin-top:0px;
}

#ipad-activity-tab, #android-activity-tab{
	display:none;
}

.sync-table{
	width:80%;
	border-collapse:collapse;
	text-align:center;
}
.sync-table td{
	padding:5px;
	border:#CCC solid 1px;
}
.sync-active{
	border:#00CC33 solid 2px;
	padding:2px;
}

.sync-inactive{
	border:#FF0000 solid 2px;
	padding:2px;
}

#mobile-sync-links{
	position:relative; 
	right:100px;
}

.company-image-details{
	width:150px;	
	display:block;
	padding:9px;
	margin-left:10px;
}

.company-image-details .desc{
	margin-left:-10px;
}

.company-image-details  img.complogo{
	width:100%;	
	border:#666 solid 1px;
	padding:4px;
	float:right;
	margin-bottom:5px;
}

.shared-files-list li{
	padding-bottom:5px;
}


.picturedrop .dz-preview .dz-details img, .dropzone-previews .dz-preview .dz-details img{
	height:auto;
}

.picturedrop .dz-preview .dz-details, .dropzone-previews .dz-preview .dz-details{
/*	height:auto;*/
}

.fallback-preview{
	margin-top:10px;

}


.quick-search-container {
}

.quick-search-container input {
	width:150px !important;
	background-image:url(../images/search-16.png);
	background-position:right 5px;
	background-repeat:no-repeat;
	border:1px solid #ccc;
	padding:5px 3px;
}

.quick-search-container ul.ui-autocomplete { 
	max-height: 440px !important; overflow: auto !important; }
}