thead.filters input,
tfoot.filters input {
	width:80px;
}

thead.filters select,
tfoot.filters select {
	width:100px;
}

tfoot.filters.top {
	display: table-header-group;	
}

.buttons-csv {
	border:none !important;
	background:none !important;
	padding:0 10px !important;
	line-height:22px;
}

.dataTables_wrapper .dataTables_processing {
	top:150px !important;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
		background-color:#b01213;
}

.badge.count_1 {
		background-color:#ccc;	
}

.badge.count:hover {
	cursor:pointer;
}

.badge.count_1:hover {
	cursor:default !important;
}

.webviewopen-metadata {	
	height: 30px;
	display: inline-block;
	color:#fff;
	font-weight: 700;
  line-height: 1;
	font-size: 11px;
	margin-left: 5px;	
	white-space: nowrap;
}

.webviewopen-metadata img {
	height: 10px;
}

.webviewopen-metadata .opened { 
	padding: 4px 4px 3px 4px;
	display: inline-block;
	margin-top: 5px;
	height: 14px;
  -webkit-border-radius: 12px 0 0 12px; 
  -moz-border-radius: 12px 0 0 12px; 
	border-radius: 12px 0 0 12px; 
	cursor:pointer;
	position: relative;
}

.webviewopen-metadata .pages {
	padding: 4px 4px 3px 4px;
	display: inline-block;
	margin-top: 5px;
	height: 14px;
	cursor:pointer;
	position: relative;
}

.webviewopen-metadata .duration { 
	padding: 4px 4px 3px 4px;
	display: inline-block;
	margin-top: 5px;
	height: 14px;
  -webkit-border-radius: 0 12px 12px 0;
  -moz-border-radius: 0 12px 12px 0;
	border-radius: 0 12px 12px 0;
	cursor:pointer;
	position: relative;
}

.webviewopen-metadata .bin1 {
	background-color:#9badfa;		
}

.webviewopen-metadata .bin2 {
	background-color:#395efd;		
}

.webviewopen-metadata .bin3 {
	background-color:#0433ff;	
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 110px;
    background-color: #777;
    color: #fff;
    text-align: center;
    padding: 5px 0;
  	-webkit-border-radius: 12px;
  	-moz-border-radius: 12px;
		border-radius: 12px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.5s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.nw {
	white-space:nowrap !important;
}

.visible-mobile {
	display:inline-block;
}

@media (max-width: 979px) {
	.visible-mobile {
		display:inline-block;
	}
	.hide {
		display:none;
	}
	
	.show {
		display:block;
	}
}